<?xml version="1.0" ?>
<launch>
	<rosparam file = "$(find pid_control)/config/control_params.yaml" command = "load"  />
  <rosparam file = "$(find pid_control)/config/input_params.yaml" command = "load"  />

	<node name="Input" pkg="pid_control" type="input.py" output="screen" launch-prefix="gnome-terminal --command" />
	<node name="Controller" pkg="pid_control" type="controller.py" output="screen" launch-prefix="gnome-terminal --command" />
	<node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" output="screen"  args="/motor_output /set_point/entrada "/>
	<node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" output="screen"/>
	<node name="motor" pkg="rosserial_python" type="serial_node.py">
  <param name="port"	type="string"	value="/dev/ttyACM0"/>
  </node>

</launch>
